@CHARSET "ISO-8859-1";
body
{
	background-color:#000000
	
}
label
{
	font-family:"Times new roman";
	font-size:20px;
	color:#808080;
	text-align:center;
}
h1
{
	color:Orange;
	font-size:36px;
}

#Fault
{
	font-family:"Times new roman";
	font-size:20px;
	color:#808080;
	text-align:center;
}

#reminder
{
	color:#1919FF;
	text-decoration:underline
}
#input
{
	border-radius: 5px;
	color:red;
}
.button-link
{
	background: #white;
	color:#black;
	border-radius: 5px;
}